<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Crear Votación</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Crear Votación</h1>
        <form method="POST" action="{{ url_for('admin.crear_votacion') }}">
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" name="titulo" required>

            <label for="descripcion">Descripción:</label>
            <textarea id="descripcion" name="descripcion" required></textarea>

            <label for="fecha_inicio">Fecha de Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" required>

            <label for="fecha_fin">Fecha de Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" required>

            <label for="num_opciones">Número de Opciones (2 a 6):</label>
            <select id="num_opciones" name="num_opciones" onchange="generateOptionsFields()" required>
                <option value="">Seleccione</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
            </select>

            <!-- Contenedor dinámico de opciones -->
            <div id="opciones_container"></div>

            <button type="submit" class="button">Crear Votación</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
