<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Ver Usuarios Registrados</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>Usuarios Registrados</h1>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha de Registro</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.fecha_registro.strftime('%Y-%m-%d') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
