<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Votante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Registro de Votante</h2>
        <form id="register-form" onsubmit="event.preventDefault(); register();">
            <label for="register-name">Nombre</label>
            <input type="text" id="register-name" name="name" placeholder="Ingrese su nombre" required>

            <div id="video-container">
                <label for="register-video">Video</label>
                <video id="register-video" autoplay></video>
                <button type="button" class="capture-btn" onclick="captureImage(videoElements.register)">Capturar Imagen</button>
            </div>

            <button type="submit" class="button">Registrarse</button>
        </form>

        <p>¿Ya tienes una cuenta? <a href="/auth/user_login">Iniciar Sesión</a></p>
    </div>

    <canvas id="canvas" width="640" height="480" style="display:none;"></canvas>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
