<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión de Votante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Inicio de Sesión de Votante</h2>
        <form id="login-form" onsubmit="event.preventDefault(); login();">
            <label for="login-name">Nombre</label>
            <input type="text" id="login-name" name="name" required>

            <div id="video-container">
                <video id="login-video" autoplay></video>
            </div>

            <input type="hidden" id="photo" name="photo">
            <button type="submit" class="button">Iniciar Sesión</button>
        </form>
        <a href="{{ url_for('auth.register') }}">¿No tienes cuenta? Regístrate</a>
    </div>

    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
