<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Votante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Registro de Votante</h2>
        <form id="register-form" onsubmit="event.preventDefault(); register();">
            <label for="register-name">Nombre</label>
            <input type="text" id="register-name" name="name" required>

            <div id="video-container">
                <video id="register-video" autoplay></video>
            </div>

            <input type="hidden" id="photo" name="photo">
            <button type="submit" class="button">Registrar</button>
        </form>
        <a href="{{ url_for('auth.user_login') }}">¿Ya tienes una cuenta? Inicia sesión</a>
    </div>

    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
