<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Votar</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Votar en: {{ votacion.titulo }}</h1>
        <form method="POST" action="{{ url_for('user.votar', votacion_id=votacion.id) }}">
            {% for opcion in votacion.opciones %}
                <div>
                    <input type="radio" id="opcion_{{ opcion.id }}" name="opcion" value="{{ opcion.id }}" required>
                    <label for="opcion_{{ opcion.id }}">{{ opcion.texto }}</label>
                </div>
            {% endfor %}
            <button type="submit" class="button">Enviar Voto</button>
        </form>
    </div>
</body>
</html>
