<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Votar</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Votación: {{ votacion.titulo }}</h1>
        <form method="POST" action="{{ url_for('votar', votacion_id=votacion.id) }}">
            <h2>Opciones</h2>
            {% for opcion in votacion.opciones %}
                <input type="radio" id="opcion_{{ opcion.id }}" name="opcion" value="{{ opcion.id }}" required>
                <label for="opcion_{{ opcion.id }}">{{ opcion.texto }}</label><br>
            {% endfor %}
            <button type="submit" class="button">Votar</button>
        </form>
        <a href="{{ url_for('user_dashboard') }}" class="button button-secondary">Regresar</a>
    </div>
</body>
</html>
