<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <h1>Panel de Administración</h1>
        <ul class="navbar-menu">
            <li><a href="{{ url_for('register') }}">Registrar Votante</a></li>
            <li><a href="{{ url_for('view_voters_page') }}">Ver Votantes</a></li>
            <li><button onclick="finalizeVoting()">Finalizar Votación</button></li>
            <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>

        </ul>
    </nav>

    <main>
        <section>
            <h2>Lista de Votantes</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                    </tr>
                </thead>
                <tbody>
                    {% for votante in votantes %}
                    <tr>
                        <td>{{ votante.name }}</td>
                        <td>{{ votante.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <!-- Mensaje de confirmación de finalización de votación -->
        <p id="finalizar-mensaje" style="color: green; font-weight: bold;"></p>
    </main>

    <script>
        function finalizeVoting() {
            fetch('/end_voting', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                const messageElement = document.getElementById('finalizar-mensaje');
                if (data.message) {
                    messageElement.textContent = data.message;
                    messageElement.style.color = 'green';
                } else if (data.error) {
                    messageElement.textContent = data.error;
                    messageElement.style.color = 'red';
                }
            })
            .catch(error => {
                console.error('Error:', error);
                const messageElement = document.getElementById('finalizar-mensaje');
                messageElement.textContent = 'Error al finalizar la votación.';
                messageElement.style.color = 'red';
            });
        }
    </script>
</body>
</html>
