<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión de Votante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Inicio de Sesión de Votante</h2>
            <p>Por favor, inicie sesión usando su rostro</p>
            <form id="login-form" onsubmit="event.preventDefault(); login();">
                <label for="login-name">Nombre:</label>
                <input type="text" id="login-name" name="name" required placeholder="Ingrese su nombre">

                <!-- Contenedor para el video de reconocimiento facial -->
                <div id="video-container">
                    <video id="login-video" autoplay></video>
                </div>

                <input type="hidden" id="photo" name="photo">
                <button type="submit" class="button">Iniciar Sesión</button>
            </form>
            <!-- Enlace para el registro de nuevos votantes -->
            <a href="{{ url_for('register') }}" class="register-link">¿No tienes cuenta? Regístrate</a>
        </div>
    </div>

    <!-- Canvas para la captura de la imagen del rostro -->
    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>
    <script src="{{ url_for('static', filename='js/face_recognition.js') }}"></script>
</body>
</html>
