<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Votante (Administrador)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles3.css') }}">
</head>
<body>
    <div class="register-container">
        <div class="register-box">
            <h2>Registro de Votante (Administrador)</h2>
            <form id="register-form" onsubmit="event.preventDefault(); registerVoterByAdmin();">
                <label for="register-name">Nombre:</label>
                <input type="text" id="register-name" name="name" required placeholder="Ingrese el nombre del votante">
                
                <label for="address">Dirección (de Ganache):</label>
                <input type="text" id="address" name="address" required placeholder="Ingrese la dirección de Ganache">
                
                <div id="video-container">
                    <video id="register-video" autoplay></video>
                </div>

                <!-- Campo oculto para almacenar la imagen capturada -->
                <input type="hidden" id="photo" name="photo">
                <button type="submit" class="button">Registrar Votante</button>
            </form>
        </div>
    </div>

    <!-- Canvas para capturar la imagen del video -->
    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>

    <!-- Archivo de JavaScript externo para la captura de imagen y envío -->
    <script src="{{ url_for('static', filename='js/face_recognition_admin.js') }}"></script>
</body>
</html>
