<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Votante</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/voter_styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Registro de Votante</h2>
            <form id="register-form" onsubmit="event.preventDefault(); registerVoter();">
                <label for="register-name">Nombre:</label>
                <input type="text" id="register-name" name="name" required placeholder="Ingrese su nombre">
                
                <label for="address">Dirección (de Ganache):</label>
                <input type="text" id="address" name="address" required placeholder="Ingrese su dirección de Ganache">

                <div id="video-container">
                    <video id="register-video" autoplay></video>
                </div>
                
                <!-- Campo oculto para almacenar la imagen capturada -->
                <input type="hidden" id="photo" name="photo">
                <button type="submit" class="button" id="register-button">Registrar</button>
            </form>
            
            <a href="{{ url_for('auth.voter_login') }}" class="register-link">¿Ya tienes cuenta? Inicia sesión</a>
            <br><br>
            <!-- Botón para regresar a la página de inicio -->
            <button onclick="window.location.href='{{ url_for('general.index') }}'" class="button back-button">Regresar al Inicio</button>
        </div>
    </div>

    <!-- Canvas para capturar la imagen del video -->
    <canvas id="canvas" width="320" height="240" style="display: none;"></canvas>

    <!-- Archivo de JavaScript externo -->
    <script src="{{ url_for('static', filename='js/face_recognition.js') }}"></script>
</body>
</html>
